.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  border: #fff solid 2px;
  border-radius: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.register-link {
  color: #aaa;
  font-size: small;
}
